Jennifer Reyna - Pandas HW - HerosOfPymoli

In [1]:
#Import Depedencies

import pandas as pd

#Load and Read CSV file

purchases_df = "Resources/purchase_data.csv"
purchases_df = pd.read_csv(purchases_df)
purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Determine and Display total number of players
total_players = purchases_df["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df.head()

df = pd.DataFrame(total_players_df)

#print(df)
df

   Total Players
0            576

In [3]:
# Purchasing Analysis (Total)
#Determine the amount of unique items
unique_items = purchases_df["Item ID"].nunique()

#Determine the average purchase price
avg_price = purchases_df["Price"].mean()

#Determine number of purchases
num_purchases = purchases_df["Item ID"].count()

#Determing total revenue of purchases
rev = purchases_df["Price"].sum()

#Create a summary Data Frame to hold the results
analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                            "  Average Price": [avg_price], 
                            "Number of Purchases  ": [num_purchases],
                           "Total Revenue": [rev]})

#Change formatting using mapping 
analysis_df["  Average Price"] = analysis_df["  Average Price"].map("${:,.2f}".format)
analysis_df["Total Revenue"] = analysis_df["Total Revenue"].map("${:,.2f}".format)

#Display/print the summary Data Frame
#print(analysis_df)
analysis_df.head()

   Number of Unique Items   Average Price  Number of Purchases   Total Revenue
0                     179           $3.05                    780     $2,379.77

In [4]:
#Gender Demographics
#Count of male, female and other players
gender_group = purchases_df.groupby(["Gender"])
gender_count = gender_group["SN"].nunique()

#Perentage of male, female and other players
gender_percent = gender_count/total_players * 100

#Display Gender Demographics using a data frame
gender_demos_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percent})

#Changing format using mapping 
gender_demos_df["Perentage of Players"] = gender_demos_df["Percentage of Players"].map("{:.2f}%".format)

#display chart ascending greatest to smallest 
gender_demos_df = gender_demos_df.sort_values("Total Count", ascending = False)

#WHY IS THE COLUMN "PERCENTAGE OF PLAYERS" DOUBLED?
#print(gender_demos_df)
gender_demos_df

                       Total Count  Percentage of Players Perentage of Players
Gender
Male                           484              84.027778               84.03%
Female                          81              14.062500               14.06%
Other / Non-Disclosed           11               1.909722                1.91%

In [5]:
#Purchasing Analysis (Gender)
#determine purchase counts per gender
gender_purchase_ct = gender_group["Item ID"].count()

#determine total purchase value per gender
gender_purchase_total = gender_group["Price"].sum()

#determine avg purchase price per item
gender_purchase_avg = gender_purchase_total / gender_purchase_ct

#determine avg total purchase per gender
avg_purchase_per_person = gender_purchase_total / gender_count

# Create a data frame that holds the results
gen_pur_analysis = pd.DataFrame({"Purchase Count": gender_purchase_ct,
                                  "Average Purchase Price": gender_purchase_avg,
                                 "Total Purchase Value": gender_purchase_total,
                                 "Average Total Purchase Per Person": avg_purchase_per_person})

#Display Data frame and clean format
gen_pur_analysis["Average Purchase Price"] = gen_pur_analysis["Average Purchase Price"].map("${:.2f}".format)
gen_pur_analysis["Total Purchase Value"] = gen_pur_analysis["Total Purchase Value"].map("${:,.2f}".format)
gen_pur_analysis["Average Total Purchase Per Person"] = gen_pur_analysis["Average Total Purchase Per Person"].map("${:.2f}".format)

#print(gen_pur_analysis)
gen_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [6]:
#Age Demographics
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 110]
age_range = ["<10", "10-14", "15-19","20-24","25-29","30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
player_ages = purchases_df.loc[:,["SN", "Age"]].drop_duplicates()
total_age_count = pd.cut(player_ages["Age"], bins, labels=age_range, include_lowest=False).value_counts()

#Calculate the numbers and percentages by age group
age_percentages = pd.cut(player_ages["Age"], bins, labels=age_range, include_lowest=False).value_counts(normalize=True)
age_percentages = round(age_percentages * 100,2)

#Display Age Demographics Table
age_demographics = pd.DataFrame({"Total Count": total_age_count, "  Percentage Of Players": age_percentages})

#Format and sorting 
age_demographics["  Percentage Of Players"] = age_demographics["  Percentage Of Players"].map("{:.2f}%".format)
age_demographics = age_demographics.sort_index()

#print(age_demographics)
age_demographics

       Total Count   Percentage Of Players
<10             17                   2.95%
10-14           22                   3.82%
15-19          107                  18.58%
20-24          258                  44.79%
25-29           77                  13.37%
30-34           52                   9.03%
35-39           31                   5.38%
40+             12                   2.08%

In [7]:
#Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_range = ["<10", "10-14", "15-19","20-24","25-29","30-34", "35-39", "40+"]
purchases_df["Age Ranges"] = pd.cut(purchases_df ["Age"], bins, labels=age_range)
age_range_group = purchases_df.groupby(["Age Ranges"])

#Purchase Count
purchase_count_age = age_range_group["Purchase ID"].count()

# Average Purchase Price
avg_pur_price_age = round(age_range_group["Price"].mean(),2)

#Total Purchase Value
total_purch_val = age_range_group["Price"].sum()

#Average Total Purchase Per Person
avg_total_perperson = round(total_purch_val / total_age_count, 2)

# Display the summary data frame
purch_age_analysis = pd.DataFrame({"Purchase Count":purchase_count_age,
                                   "Average Purchase Price":avg_pur_price_age,
                                   "Total Purchase Value":total_purch_val,
                                   "Average Total Purchase Per Person":avg_total_perperson})

# Optional: give the displayed data cleaner formatting
purch_age_analysis["Average Purchase Price"] = purch_age_analysis["Average Purchase Price"].map("${:.2f}".format)
purch_age_analysis["Total Purchase Value"] = purch_age_analysis["Total Purchase Value"].map("${:.2f}".format)
purch_age_analysis["Average Total Purchase Per Person"] = purch_age_analysis[ "Average Total Purchase Per Person"].map("${:.2f}".format)

#print(purch_age_analysis)
purch_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [8]:
#Top Spenders
#Purchase Count
top_spenders = purchases_df.groupby("SN")
ts_purcount = top_spenders["Item ID"].count()

#Average Purchase Price
ts_avgprice = round(top_spenders["Price"].mean(),2)

#Total Purchase Value
ts_totalval = round(top_spenders["Price"].sum(),2)

#Create a summary data frame, sort the total purchase value column in descending order
top_spender_analysis = pd.DataFrame({"Purchase Count": ts_purcount,
                                     "Average Purchase Price": ts_avgprice,
                                     "Total Purchase Value": ts_totalval})

top_spender_analysis = top_spender_analysis.sort_values(["Total Purchase Value"], ascending = False)

#Optional: give the displayed data cleaner formatting
top_spender_analysis["Average Purchase Price"] = top_spender_analysis["Average Purchase Price"].map("${:.2f}".format)
top_spender_analysis["Total Purchase Value"] = top_spender_analysis["Total Purchase Value"].map("${:.2f}".format)

# #Display a preview of the summary data frame
top_spender_analysis.head()
print(top_spender_analysis.head())

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [9]:
# Most Popular Items
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
popular_items = purchases_df.groupby(["Item ID", "Item Name"])

#Popular Purchase Count
popular_purchase_count = popular_items["Price"].count()

#Popular Item Price
popular_item_price = round(popular_items["Price"].mean(), 2)


#Total Purchase Value
popular_item_pv = round(popular_items["Price"].sum(),2)

# Create a summary data frame to hold the results
mpi = pd.DataFrame({"Purchase Count": popular_purchase_count,
                    "Item Price": popular_item_price,
                    "Total Purchase Value": popular_item_pv})

# Sort the purchase count column in descending order
mpi = mpi.sort_values(["Purchase Count"], ascending = False)

# Optional: give the displayed data cleaner formatting
mpi["Item Price"] = mpi["Item Price"].map("${:.2f}".format)
mpi["Total Purchase Value"] = mpi["Total Purchase Value"].map("${:.2f}".format)

#print(mpi.head())
mpi.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [14]:
# Most Profitable Items
mpi = pd.DataFrame({"Purchase Count": popular_purchase_count,
                    "Item Price": popular_item_price,
                    "Total Purchase Value": popular_item_pv})

mpi = mpi.sort_values(["Total Purchase Value"], ascending = False)

mpi["Item Price"] = mpi["Item Price"].map("${:.2f}".format)
mpi["Total Purchase Value"] = mpi["Total Purchase Value"].map("${:.2f}".format)

mpi.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80